=== Hardware-Voraussetzungen ===

yaVDR unterstützt ein breites Spektrum von TV-Karten, Fernbedienungen und http://de.wikipedia.org/wiki/Video_Decode_and_Presentation_API_for_Unix[VDPAU]-fähigen nVidia-Grafikkarten.

Seit Version 0.4 wird yaVDR nur noch als 64-Bit Version angeboten, so dass ein entsprechender Prozessor footnote:[AMD Athlon64 oder höher, Intel-Prozessoren mit Intel64-Unterstützung] verwendet werden muss.
////
Genaue Systemvoraussetzungen sind aufgrund der vielen möglichen Konfigurationen schwer anzugeben, daher wird hier nur eine Liste von Beispielkonfigurationen angegeben, die praktisch komplett vom yaVDR unterstützt werden:

.Systemempfehlungen - Sinnvoll?
****
Macht es Sinn noch alte FF-Karten aufzulisten?

Im Prinzip wäre ja jeweils eine stromsparende Kombinationfür ein Szenario sinnvoll...

Gibt es gute Quellen (außer den Nutzer-Signaturen)?
****
////
Die empfohlene Festplattengröße hängt von der gewünschten Aufnahmekapazität ab. Eine Partition für Standard-Installation von yaVDR sollte mindestens 4 GB groß sein, um genug Platz für Updates, XBMC-Metadateien und zusätzliche Pakete zu haben, werden mindestens 6 GB empfohlen. Die Größe der SWAP-Partition entspricht normalerweise der Größe des Arbeitsspeichers.
Für SD-TV werden fallen in abhängig von der Bitrate des Senders bis zu 2,7 GB pro Stunde Aufnahme an, für HD-TV bis zu 9 GB pro Stunde.
Im normalen Betrieb hat sich eine Festplattengröße von mindestens 160 GB bewährt, für den Fall, das Aufnahmen gesammelt werden sind (aus den Erfahrungen des Autors) 2 TB oder mehr empfohlen.


Weitergehende Fragen versucht die Seite http://vdr-wiki.de/wiki/index.php/YaVDR/Hardware-Voraussetzungen[Hardware-Voraussetzungen] zu beantworten.

[IMPORTANT]
.Checkliste vor Inbetriebnahme
=====================================================================
* VDPAU-fähige nVidia-Grafikkarte oder anderes unterstütztes Ausgabegerät (TT S2-6400, Hauppauge PVR350, SD-FF Karte) verbaut?
* Alle Tuner angeschlossen? (Falls nicht bitte daran denken eine entsprechende *udev-Regel* für das *Dynamite-Plugin* anzulegen!)
****
TODO: udev-Regeln für dynamite erstellen und verlinken
****
* Netzwerkkabel eingesteckt?
=====================================================================

